body {
  font-family: 'source sans pro',Calibri, Tahoma ,sans-serif;
  background: #f5f5f5;
  margin: 0;
  
}

.page {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #671515;
    gap: 20px;

}

.sec-gauche {
  width: 30%;
  background: #3b4b50;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  word-wrap: break-word;
 

}

.photo img {
  width:120px;
  height: 120px;
  border: 3px solid #155767;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;
  
  
}
.sec-gauche h2,
.sec-gauche h3 {
  margin-top: 15px;
  border-bottom: 1px solid #ffffff7a;
  padding-bottom: 6px;


}


.sec-droite{
  width: 70%; 
  padding: 20px;
  color: #333;
  

}
.sec-droite h3 {
  border-bottom: 2px solid #671515;
   margin-top: 20px;
}
ul{
  margin-top: 8px 0 0;;
}

 @media (max-width: 768px) {
  .page {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

.sec-gauche,
  .sec-droite {
    width: 100%;
    margin-right: 0;
  }

  img.photo {
    width: 100px;
    height: 100px;
  }
}



